@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot");
  src: local("☺"), url("../fonts/gilroy-regular.woff") format("woff"),
    url("../fonts/gilroy-regular.ttf") format("truetype"),
    url("../fonts/gilroy-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot");
  src: local("☺"), url("../fonts/gilroy-medium.woff") format("woff"),
    url("../fonts/gilroy-medium.ttf") format("truetype"),
    url("../fonts/gilroy-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-semibold.eot");
  src: local("☺"), url("../fonts/gilroy-semibold.woff") format("woff"),
    url("../fonts/gilroy-semibold.ttf") format("truetype"),
    url("../fonts/gilroy-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold.eot");
  src: local("☺"), url("../fonts/gilroy-bold.woff") format("woff"),
    url("../fonts/gilroy-bold.ttf") format("truetype"),
    url("../fonts/gilroy-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-heavy.eot");
  src: local("☺"), url("../fonts/gilroy-heavy.woff") format("woff"),
    url("../fonts/gilroy-heavy.ttf") format("truetype"),
    url("../fonts/gilroy-heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Gilroy";
  background-color: #fafafb;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  body._lock {
    overflow: hidden;
  }
}
.intro {
  position: relative;
  background: url("../img/index/header/01.png") right 25% bottom -5px no-repeat,
    url("../img/index/header/bg01.png") right 0 no-repeat;
}
@media (max-width: 1184px) {
  .intro {
    background: url("../img/index/header/01.png") right 0 bottom -5px no-repeat,
      url("../img/index/header/bg01.png") right 0 no-repeat;
  }
}
@media (max-width: 992px) {
  .intro {
    background: url("../img/index/header/01.png") right 0 bottom -5px / 300px no-repeat,
      url("../img/index/header/bg01.png") right 0 no-repeat;
  }
}
@media (max-width: 768px) {
  .intro {
    background: url("../img/index/header/01.png") right 0 bottom -5px / 200px no-repeat,
      url("../img/index/header/bg01.png") right 0 no-repeat;
  }
}
@media (max-width: 480px) {
  .intro {
    background: url("../img/index/header/bg01.png") right 0 no-repeat;
  }
}

.intro__header {
  padding: 20px 0px 0px 0px;
}

.header-intro {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header-intro__strip {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px 0px 70px 0px;
  z-index: 2;
  background-color: white;
}

.header-intro__row {
  position: relative;
  z-index: 3;
}
.header-intro__top {
  margin-bottom: 35px;
}
@media (max-width: 992px) {
  .header-intro__top {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .header-intro__top {
    margin: 0;
  }
}
.top-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header__column {
  flex: 0 1 30%;
}
.top-header__logo {
  display: flex;
  position: relative;
  z-index: 3;
}
.top-header__firm {
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e1e1e1;
  padding: 0px 25px 0px 0px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .top-header__firm {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .top-header__firm {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .top-header__firm {
    font-size: 32px;
  }
}
.top-header__info {
  color: #5d5d5d;
  border-left: 2px solid #89afef;
  padding: 0px 0px 0px 25px;
  min-width: 210px;
}
@media (max-width: 992px) {
  .top-header__info {
    display: none;
  }
}

.social-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-header__item {
  transition: all 0.1s linear;
  margin: 0px 18px 0px 0px;
  cursor: pointer;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
}
.social-header__item:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .social-header__item:hover {
    transform: scale(1.1);
  }
}
.social-header__item img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.social-header__item:nth-child(1) {
  background-color: #2dd038;
  box-shadow: 0 8px 10px rgba(45, 208, 56, 0.5);
}
.social-header__item:nth-child(1) img {
  transform: translate(-48%, -55%);
}
@media (min-width: 768px) {
  .social-header__item:nth-child(1):hover {
    box-shadow: 0 0px 30px #2dd038;
  }
}
.social-header__item:nth-child(2) {
  background-color: #7b519d;
  box-shadow: 0 8px 10px rgba(123, 81, 57, 0.5);
}
.social-header__item:nth-child(2) img {
  transform: translate(-48%, -50%);
}
@media (min-width: 768px) {
  .social-header__item:nth-child(2):hover {
    box-shadow: 0 0px 30px #7b5139;
  }
}
.social-header__item:nth-child(3) {
  background-color: #5bbaf0;
  box-shadow: 0 8px 10px rgba(91, 186, 240, 0.5);
}
.social-header__item:nth-child(3) img {
  transform: translate(-55%, -55%);
}
@media (min-width: 768px) {
  .social-header__item:nth-child(3):hover {
    box-shadow: 0 0px 30px #5bbaf0;
  }
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .feedback-header {
    justify-content: flex-end;
  }
}
@media (max-width: 768px) {
  .feedback-header {
    justify-content: flex-start;
  }
}
.feedback-header__contacts li {
  white-space: nowrap;
  margin: 0px 0px 10px 0px;
}
.feedback-header__contacts li:last-child {
  margin: 0;
}
@media (max-width: 768px) {
  .feedback-header__contacts li {
    margin: 0px 0px 20px 0px;
  }
}
.feedback-header__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0px 30px 0px 0px;
}
@media (max-width: 1182px) {
  .feedback-header__contacts-list {
    margin: 0px 15px 0px 0px;
  }
}
@media (max-width: 992px) {
  .feedback-header__contacts-list {
    margin: 0;
  }
}
@media screen and (max-height: 410px) and (orientation: landscape) {
  .feedback-header__contacts-list {
    flex-direction: row;
  }
  .feedback-header__contacts-list li a {
    margin: 0px 20px 0 0;
    font-size: 14px;
  }
}
.feedback-header__tel {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  padding: 0px 0px 0px 25px;
  background: url("../img/index/header/header_contacts/call-answer.svg") left
    no-repeat;
}
@media (min-width: 768px) {
  .feedback-header__tel:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1182px) {
  .feedback-header__tel {
    font-size: 17px;
  }
}
.feedback-header__email {
  color: #000;
  font-size: 17px;
  padding: 0px 0px 0px 25px;
  background: url("../img/index/header/header_contacts/mail.svg") left no-repeat;
}
@media (min-width: 768px) {
  .feedback-header__email:hover {
    text-decoration: underline;
  }
}

.callback-header__button {
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  transition: 0.2s all linear;
}
.callback-header__button span {
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .callback-header__button:hover {
    transform: scale(1.015);
    background: linear-gradient(90deg, #f5a21d 0%, #f07b38 100%);
  }
}
@media (max-width: 992px) {
  .callback-header__button {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
  }
  .header-menu._active {
    display: block;
    left: 0;
    top: 70px;
    padding: 20px 10px 20px 10px;
  }
  .header-menu .header-menu__list {
    display: block;
    background-color: #fff;
  }
  .header-menu .header-menu__list li {
    margin: 0px 0px 25px 0px;
    font-size: 18px;
  }
  .header-menu .feedback-header__contacts-list {
    align-items: flex-start;
  }
  .header-intro__strip {
    display: block;
  }
}
@media screen and (max-width: 768px) and (max-height: 410px) and (orientation: landscape) {
  .header-menu li a {
    margin: 0px 20px 0 0;
    font-size: 14px;
  }
  .header-menu .header-menu__list li {
    margin: 0px 0px 10px 0px;
  }
  .header-menu._active {
    padding: 0px 10px 20px 10px;
  }
}
.bottom-header__icon {
  display: none;
}
@media (max-width: 768px) {
  .bottom-header__icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .bottom-header__icon span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  .bottom-header__icon span:first-child {
    top: 0px;
  }
  .bottom-header__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .bottom-header__icon._active span {
    transform: scale(0);
  }
  .bottom-header__icon._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .bottom-header__icon._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
}
.header-menu__list a {
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
}
.header-menu__list li {
  margin: 0px 0px 10px 0px;
}
@media (min-width: 768px) {
  .header-menu__list li:hover {
    text-decoration: underline;
  }
}
@media (max-width: 992px) {
  .header-menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header-menu__list li {
    margin: 10px 20px;
  }
}
@media (max-width: 768px) {
  .header-menu__list {
    justify-content: flex-start;
  }
}
.title {
  font-weight: 800;
  color: #333;
  font-size: 36px;
}
.item-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.item-intro__title {
  font-size: 40px;
  line-height: 1.275em;
  text-align: left;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 992px) {
  .item-intro__title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .item-intro__title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .item-intro__title {
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
  }
}
.item-intro__price {
  font-size: 24px;
  color: #333;
  margin: 0px 0px 35px 0px;
}
.item-intro__price span {
  font-weight: 800;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .item-intro__price {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }
}
.order-btn {
  display: inline-block;
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  padding: 15px 65px;
}
.order-btn span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 480px) {
  .order-btn {
    padding: 8px 35px;
  }
}
/* Banner======= */
.banner-intro {
  padding: 250px 0 170px;
}
.banner-intro__body {
  color: #333;
  max-width: 680px;
}
.banner-intro__title {
  font-size: 40px;
  line-height: 51px;
  font-weight: 900;
  margin: 0px 0px 35px 0px;
}

.banner-intro__price {
  font-size: 24px;
  margin: 0px 0px 35px 0px;
}
.banner-intro__price span {
  font-weight: 800;
}
.btn_blue {
  display: inline-block;
  padding: 15px 55px;
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%);
  box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.btn_blue span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
@media (min-width: 768px) {
  .btn_blue:hover {
    transform: scale(1.025);
    background: linear-gradient(90deg, #5f9cfd 0%, #4664cf 100%);
  }
}
@media (max-width: 992px) {
  .banner-intro {
    padding: 200px 0 70px;
  }
  .banner-intro__title {
    font-size: 32px;
    line-height: 34px;
  }
  .banner-intro__body {
    max-width: 420px;
  }
}
@media (max-width: 768px) {
  .banner-intro {
    padding: 100px 30px 40px;
  }
  .banner-intro__title {
    font-size: 24px;
    line-height: 26px;
    margin: 0px 0px 20px 0px;
  }
  .banner-intro__price {
    font-size: 18px;
    margin: 0px 0px 20px 0px;
  }
  .banner-intro__body {
    max-width: 320px;
  }
}
@media (max-width: 480px) {
  .banner-intro {
    padding: 85px 20px 30px;
  }
  .banner-intro__title {
    font-size: 20px;
    line-height: 22px;
    margin: 0px 0px 15px 0px;
  }
  .banner-intro__price {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
  .banner-intro__body {
    max-width: 320px;
  }
}
.header-intro__strip.visible {
  display: block;
}
/* Documents==== */
.draw-up-documents__body {
  text-align: center;
  width: 100%;
}
.draw-up-documents__title {
  padding: 45px 0;
}
.draw-up-documents__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}
.draw-up-documents__item {
  padding: 0 15px;
  flex: 0 1 25%;
  margin: 0px 0px 30px 0px;
}
.item-documents {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 768px) {
  .item-documents:hover {
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
  }
}
.item-documents__column {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.item-documents__element:first-child {
  margin: 0px 0px 15px 0px;
}
.item-documents__element p {
  font-size: 19px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .draw-up-documents__item {
    -webkit-flex: 0 1 33.333%;
    -moz-flex: 0 1 33.333%;
    -ms-flex: 0 1 33.333%;
    -o-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
  .item-documents__column {
    padding: 10px 0px;
  }
}
@media (max-width: 650px) {
  .draw-up-documents__item {
    -webkit-flex: 0 1 50%;
    -moz-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    -o-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 5px;
  }
  .draw-up-documents__items {
    margin: 0 -5px;
  }
  .draw-up-documents__title {
    font-size: 24px;
  }
  .item-documents__element p {
    font-size: 16px;
  }
  .draw-up-documents__title {
    padding: 30px 0 20px;
  }
}
/* ======== */
/*Advantages====*/
.advantages {
  padding: 60px 0 25px;
  background-color: #f6f6f6;
}
.advantages__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 -35px;
}
.advantages__column {
  padding: 0 35px;
  flex: 0 1 25%;
}
.column-advantage {
  max-width: 270px;
  margin: 0px 0px 30px 0px;
}
.column-advantage__body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-size: 17px;
}

.column-advantage__body span {
  cursor: pointer;
}
.column-advantage__name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  cursor: pointer;
}
.column-advantage__body img {
  margin-bottom: 40px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .advantages__row {
    margin: 0 -15px;
  }
  .advantages__column {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .advantages__row {
    margin: 0 -10px;
  }
  .advantages__column {
    padding: 0 10px;
    flex: 0 1 50%;
  }
  .advantages {
    padding: 40px 0 20px;
  }
  .column-advantage__name {
    font-size: 18px;
    font-weight: 700;
  }
}
/*==========*/
/*Education=====*/
.education-programs {
  padding: 80px 0;
  text-align: center;
}
.education-programs__title {
  margin: 0px 0px 42px 0px;
}
.education-programs__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.education-programs__program {
  flex: 0 1 25%;
  padding: 0 15px;
  margin: 0px 0px 20px 0px;
}
.program {
}
.program__body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.program__image {
  max-width: 215px;
  height: 150px;
  object-fit: cover;
  margin: 30px;
  transition: all 0.4s;
}
.program__image a,
.program__image img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.program__name {
  font-size: 19px;
  font-weight: 800;
  margin: 0px 0px 10px 0px;
  color: #333;
}
.program__group-opened {
  color: #53b43b;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
  display: inline-block;
  padding: 0px 0px 0px 20px;
  background: url("../img/index/education/checked.png") left 1px no-repeat;
}
.program__price {
  font-size: 22px;
  font-weight: 800;
  color: #333;
}
@media (min-width: 768px) {
  .program__body:hover .program__image {
    -webkit-transform: translate(-10px, -10px) scale(1.1);
    -ms-transform: translate(-10px, -10px) scale(1.1);
    -o-transform: translate(-10px, -10px) scale(1.1);
    transform: translate(-10px, -10px) scale(1.1);
  }
  .program__group-opened:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1184px) {
  .program__image {
    max-width: 190px;
    height: 125px;
    margin: 20px;
  }
}
@media (max-width: 992px) {
  .education-programs {
    padding: 70px 0;
  }
  .education-programs__program {
    flex: 0 1 50%;
  }
}
@media (max-width: 768px) {
  .education-programs {
    padding: 40px 0;
  }
  .education-programs__title {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 560px) {
  .education-programs {
    padding: 25px 0;
  }
  .education-programs__title {
    font-size: 28px;
    font-weight: 600;
  }
  .education-programs__row {
    margin: 0 -5px;
  }
  .education-programs__program {
    padding: 0 5px;
  }
  .program__name {
    font-size: 16px;
  }
  .program__image {
    max-width: 180px;
    height: 115px;
    margin: 10px;
  }
}
@media (max-width: 400px) {
  .education-programs__program {
    flex: 0 1 100%;
  }
}
/*==========*/
/* News======== */
.news {
}
.news__container {
}

.news__title {
  margin: 0px 0px 35px 0px;
}
.body-news__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -18px;
}
.body-news__item {
  padding: 0 18px;
  flex: 0 1 25%;
  margin: 0px 0px 70px 0px;
}

.item-news__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item-news__img {
  margin: 0px 0px 15px 0px;
  max-width: 215px;
  height: 146px;
  object-fit: cover;
}
.item-news__img {
  width: 100%;
  height: 100%;
}
.item-news__date {
  font-size: 14px;
  color: #ababab;
  font-weight: 500;
  margin: 0px 0px 15px 0px;
}
.item-news__title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  margin: 0px 0px 15px 0px;
}
.item-news__text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 992px) {
  .body-news__row {
    margin: 0 -10px;
    justify-content: flex-start;
  }
  .body-news__item {
    padding: 0 10px;
    flex: 0 1 33.333%;
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 710px) {
  .body-news__item {
    flex: 0 1 50%;
    margin: 0px 0px 40px 0px;
  }
}
@media (max-width: 480px) {
  .news__title {
    text-align: center;
    margin-top: 10px;
  }
  .body-news__row {
    text-align: center;
  }
  .body-news__item {
    flex: 0 1 100%;
  }
  .item-news__img {
    align-self: center;
  }
}
/* =========== */
